/build/
/CMakeFiles/
/cmake-build-*/
*.obj
*.obj.d
*.o
*.exe
*.ilk
*.pdb
*.lib
*.dll
*.exp
.vs/
*.user
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.deps/
.dirstamp
*.Po
*.tmp
*.gmo
*.mo
autom4te.cache/
config.log
config.status
config.h.in
stamp-h1
out/
Makefile
Makefile.in

# autotools auxiliary files
ABOUT-NLS
aclocal.m4
compile
config.guess
config.rpath
config.sub
configure
depcomp
install-sh
missing
m4/
po/Makefile*
po/Makevars*
po/POTFILES
po/Rules-quot
po/*.sed
po/*.header
po/insert-header.sin
po/remove-potcdate.sin
po/stamp-po

# build-generated headers
src/appcss.h
src/appjs.h
src/bootstrapcss.h
src/chartsjs.h
src/cities10m.h
src/countries110m.h
src/d3js.h
src/facss.h
src/hoganjs.h
src/topojsonjs.h
src/tpls.h
